package ${dtoBean.pkg};

#foreach (${pkg} in ${dtoBean.classImportList})
import ${pkg} ;
#end

/**
 * ${dtoBean.id} ${dtoBean.name}
 * ${dtoBean.comment}
 *
 * @author DORA.Generator
 */
public class ${dtoBean.id} implements java.io.Serializable {
   /**
    * Default serial version code
    */
    private static final long serialVersionUID = 1L;

#foreach (${prop} in ${dtoBean.propList})
   /**
    * ${prop.id} - ${prop.name}
    */
    private ${prop.javaType} ${prop.id}${prop.defaultValue};
#end

#foreach (${prop} in ${dtoBean.propList})
   /**
    * Get the "${prop.name}"
    */
    public ${prop.javaType} get${prop.javaId4GetSet} () {
        return this.${prop.id};
    }
   /**
    * Set the "${prop.name}"
    */
    public void set${prop.javaId4GetSet} (
            ${prop.javaType} ${prop.id}) {
        this.${prop.id} = ${prop.id};
    }

#end
}