package $docBean.cmpBean.pkg;

#foreach($pkg in $docBean.cmpBean.classImportList)
import $pkg;
#end

/**
 * $docBean.cmpBean.name <br>
 * $docBean.cmpBean.comment  <br>
 *
 * @author DORA.Generator
 */
public interface $docBean.cmpBean.id {

#foreach($funcBean in $docBean.funcBeanList)
    /**
     * $funcBean.name <br>
     * $funcBean.comment <br>
#foreach($detailLine in $funcBean.details)
     * $detailLine <br>
#end
     *
#foreach($itemBean in $funcBean.inParamList)
     * @param $itemBean.id - $itemBean.name
#end
#if($funcBean.outParamList.size() > 0)
     * @return $funcBean.outParam.javaType $funcBean.outParam.name $funcBean.outParam.comment
#end
     */
#if($funcBean.outParamList.size() == 0)
    void $funcBean.id (#foreach($itemBean in $funcBean.inParamList) $itemBean.javaType $itemBean.id #if(${velocityHasNext}),#end#end);
#else
    $funcBean.outParam.javaType $funcBean.id (#foreach($itemBean in $funcBean.inParamList) $itemBean.javaType $itemBean.id #if(${velocityHasNext}),#end#end);
#end

#end

}