#set($var_OPERATION_HISTORY_DATETIME="OPERATION_HISTORY_DATETIME")
#set($var_OPERATION_HISTORY_CATEGORY="OPERATION_HISTORY_CATEGORY")
#set($var_OPERATION_HISTORY_AUTHER="OPERATION_HISTORY_AUTHER")
#set($var_CREATE_AUTHOR="CREATE_AUTHOR")
#set($var_CREATE_DATETIME="CREATE_DATETIME")
#set($var_UPDATE_AUTHOR="UPDATE_AUTHOR")
#set($var_UPDATE_DATETIME="UPDATE_DATETIME")
#set($var_createAuthor="createAuthor")
#set($var_createDatetime="createDatetime")
#set($var_updateAuthor="updateAuthor")
#set($var_updateDatetime="updateDatetime")
#set($var_tablePreFix="")

#foreach(${dto} in ${dtos})
/* ${dto.tblId} : ${dto.tblName} */
#if (${dto.autoIncrementColumnList.size()} > 0)
/* ALTER TABLE `${dto.tblId}` DROP PRIMARY KEY ; */
#end
DROP TABLE IF EXISTS `${dto.tblId}` ;
CREATE TABLE `${dto.tblId}` (
#foreach(${field} in ${dto.fieldList})
    #if(${velocityCount} != 1),#end`${field.colId}` ${field.colDataTypeWithLength} ${field.colNotNull} ${field.colDefaultValue} COMMENT '${field.colName}'
#end
#if(${dto.generateDefaultTableField} == 1)
    ,`${var_CREATE_AUTHOR}` VARCHAR(32)
    ,`${var_CREATE_DATETIME}` TIMESTAMP
    ,`${var_UPDATE_AUTHOR}` VARCHAR(32)
    ,`${var_UPDATE_DATETIME}` TIMESTAMP
#end
) COMMENT '${dto.tblName}' ;
#if (${dto.autoIncrementColumnList.size()} > 0)
ALTER TABLE `${dto.tblId}` ADD CONSTRAINT `PK_${dto.tblId}` PRIMARY KEY ( #foreach(${pkField}in${dto.primaryKeyFieldList})${pkField.colId} #if(${velocityHasNext}),#end#end) ;
#end

#end


#if(${dto.tblHistory} != '')
DROP TABLE IF EXISTS `${dto.tblId}_${dto.tblHistory}` ;
CREATE TABLE `${dto.tblId}_${dto.tblHistory}` (
#foreach(${field} in ${dto.fieldList})
    #if(${velocityCount} != 1),#end`${field.colId}` ${field.colDataTypeWithLength}
#end
    ,`${var_CREATE_AUTHOR}` VARCHAR(32)
    ,`${var_CREATE_DATETIME}` TIMESTAMP
    ,`${var_OPERATION_HISTORY_CATEGORY}` CHAR(1) NOT NULL
);
#end

#end