#set($var_OPERATION_HISTORY_DATETIME="OPERATION_HISTORY_DATETIME")
#set($var_OPERATION_HISTORY_CATEGORY="OPERATION_HISTORY_CATEGORY")
#set($var_OPERATION_HISTORY_AUTHER="OPERATION_HISTORY_AUTHER")
#set($var_CREATE_AUTHOR="CREATE_AUTHOR")
#set($var_CREATE_DATETIME="CREATE_DATETIME")
#set($var_UPDATE_AUTHOR="UPDATE_AUTHOR")
#set($var_UPDATE_DATETIME="UPDATE_DATETIME")
#set($var_createAuthor="createAuthor")
#set($var_createDatetime="createDatetime")
#set($var_updateAuthor="updateAuthor")
#set($var_updateDatetime="updateDatetime")
#set($var_tablePreFix="")

/* ${dto.tblId} : ${dto.tblName} */
#if (${dto.autoIncrementColumnList.size()} > 0)
ALTER TABLE `${dto.tblId}` DROP PRIMARY KEY ;
#end
DROP TABLE IF EXISTS `${dto.tblId}` ;
CREATE TABLE `${dto.tblId}` (
#foreach(${field} in ${dto.fieldList})
#if (${field.colDataType} == 'AUTO-INCREMENT')
    #set($var_hasAutoIncrement="1")
    #if(${velocityCount} != 1),#end`${field.colId}` INT AUTO_INCREMENT PRIMARY KEY COMMENT '${field.colName}'
#elseif (${field.colDataType} == 'TIMESTAMP' && ${field.colDataType} == 'NOT NULL')
    #if(${velocityCount} != 1),#end`${field.colId}` ${field.colDataTypeWithLength} ${field.colNotNull}	DEFAULT '0000-00-00 00:00:00' COMMENT '${field.colName}'
#elseif (${field.colDataType} == 'TIMESTAMP')
    #if(${velocityCount} != 1),#end`${field.colId}` ${field.colDataTypeWithLength} ${field.colNotNull}	NULL DEFAULT NULL COMMENT '${field.colName}'
#elseif (${field.colDataType} == 'VARCHAR' || ${field.colDataType} == 'CHAR')
    #if(${velocityCount} != 1),#end`${field.colId}` ${field.colDataTypeWithLength} BINARY ${field.colNotNull}	${field.colDefaultValue} COMMENT '${field.colName}'
#else
    #if(${velocityCount} != 1),#end`${field.colId}` ${field.colDataTypeWithLength} ${field.colNotNull}	${field.colDefaultValue} COMMENT '${field.colName}'
#end
#end
#if(${dto.generateDefaultTableField} == 1)
    ,`${var_CREATE_AUTHOR}` VARCHAR(32) BINARY COMMENT '创建者'
    ,`${var_CREATE_DATETIME}` TIMESTAMP DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间'
    ,`${var_UPDATE_AUTHOR}` VARCHAR(32) BINARY COMMENT '更新者'
    ,`${var_UPDATE_DATETIME}` TIMESTAMP  DEFAULT CURRENT_TIMESTAMP COMMENT '更新时间'
#end
) COMMENT '${dto.tblName}' ;
#if ($var_hasAutoIncrement != '1')
ALTER TABLE `${dto.tblId}` ADD CONSTRAINT `PK_${dto.tblId}` PRIMARY KEY ( #foreach(${pkField}in${dto.primaryKeyFieldList})${pkField.colId} #if(${velocityHasNext}),#end#end) ;
#end

#if(${dto.tblHistory} != '')
DROP TABLE IF EXISTS `${dto.tblId}_${dto.tblHistory}` ;
CREATE TABLE `${dto.tblId}_${dto.tblHistory}` (
#foreach(${field} in ${dto.fieldList})
#if (${field.colDataType} == 'AUTO-INCREMENT')
    #if(${velocityCount} != 1),#end`${field.colId}` INT COMMENT '${field.colName}'
#elseif (${field.colDataType} == 'TIMESTAMP')
    #if(${velocityCount} != 1),#end`${field.colId}` ${field.colDataTypeWithLength} ${field.colNotNull} NULL DEFAULT NULL COMMENT '${field.colName}'
#else
    #if(${velocityCount} != 1),#end`${field.colId}` ${field.colDataTypeWithLength} COMMENT '${field.colName}'
#end
#end
    ,`${var_CREATE_AUTHOR}` VARCHAR(32) BINARY COMMENT '创建者'
    ,`${var_CREATE_DATETIME}` TIMESTAMP DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间'
    ,`${var_OPERATION_HISTORY_CATEGORY}` CHAR(1) NOT NULL COMMENT '操作类别'
);
#end